{% extends 'core/base.html' %}
{% block head_extras %}
    {% load markdown_deux_tags %}

{% endblock %}
{% block content %}
    <section class='card'>
        <h2>FAQs(Frequently Asked Questions) или ЧаВо(Частые вопросы)</h2>

    </section>
    <span class='card'>
        {% for n in note_list %}
            <label for='tab-nav-{{ forloop.counter }}' class='card tablabel'>
                <h3>{{ n.name }}</h3>

            </label>
        {% endfor %}
    </span>
    {% for n in note_list %}
        <div>
            <input class='hidden tabcheck' type='radio' name='tabs' id='tab-nav-{{ forloop.counter }}'
            {% if forloop.first %}checked{% endif %}>
            <div class='card tab'>
                <h2>{{ n.name }}</h2>
                <div class='note_details'>{{ n.text.rendered }}</div>
                <small class='text-muted'>
                    Обновлено {{ n.edited }}
                    <a href='{% url "note:note-id-detail" n.pk %}'>Ссылка</a>
                </small>
            </div>
        </div>
    {% endfor %}
{% endblock %}
