{% extends 'core/base.html' %}
{% block head_extras %}
{% load markdown_deux_tags %}
<style>
    {% for n in note_list %}
    #tab-nav-{{ forloop.counter }}:checked~div.tab:nth-of-type({{ forloop.counter }}){% if not forloop.last %},{% endif %} 
    {% endfor %}{
        display: block;
    }

    #tab-nav-newans:checked~div.newans {
        display: block;
    }
</style>
{% endblock %}
<!---->
{% block content %}
<section class='card'>
    <h2>FAQs(Frequently Asked Questions) или ЧаВо(Частые вопросы)</h2>
</section>
{% for n in note_list %}
<input type='radio' class='hidden' name='tabs' id='tab-nav-{{ forloop.counter }}'{% if forloop.first %}checked{% endif %}>
{% endfor %}
<input type='radio' class='hidden' name='tabs' id='tab-nav-newans'>

{% for n in note_list %}
<label for='tab-nav-{{ forloop.counter }}' class='card tablabel'>
    <h3>{{ n.name }}</h3>
</label>
{% endfor %}
<label for='tab-nav-newans' class='card tablabel'>
    <h3>Вопрос студсовету</h3>
</label>
{% for n in note_list %}
    <div class='card tab'>
        <h2>{{ n.name }}</h2>
        <p>{{ n.text.rendered }}</p>
    </div>
{% endfor %}
<div class='newans'>
    <section class='card'>
        <h2 class='lightblue'>Последние вопросы</h2>
        <div>
            <p class='card-maintext'>
                <ul>
                    {% for question in question_list %}
                    <li><a href='{{ question.pk }}'>{{ question.title }}{% if question.is_public %} ({{ question.author.get_full_name }}){% endif %}</a></li>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </section>
    <div class='card'>
        {% if user.is_authenticated %}
            
            <h2>Задайте вопрос</h2>
            <form method='post' id='new_question'>
                {% csrf_token %}
                {{ form.title.errors }}
                <p><label for='{{ form.title.id_for_label }}'>Заголовок</label> {{ form.title }}</p>
                {{ form.text.errors }}
                <p>{{ form.text }}</p>
                {{ form.is_public.errors }}
                <p><label for='{{ form.is_public.id_for_label }}'>Виден всем</label> {{ form.is_public }}</p>
                {{ form.check_to_send.errors }}
                <p>{{ form.check_to_send }} <label for='{{ form.check_to_send.id_for_label }}'>Мой вопрос ещё не был занят никем до меня и относится к ФРТК</label></p>
                <input type='submit' id='submit' value='Отправить'/>
            </form>
        {% else %}
            <p>Войдите, чтобы задать свой вопрос!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
