{% extends 'core/base.html' %}
{% load utils_extra_filters %}
{% block content %}
<section class='card' style='margin-bottom:10px;'>
    <h2>{{ question.title }}</h2>
    <h3>{{ question.text }}</h3>
    <p>Вопрос задан {{ question.created }}</p>
    <hr />
    {% if question.is_public %}
        {% if question.author.avatar_url %}
            <img src='{{ question.author.avatar_url }}' class='qa-avatar' />
        {% else %}
            <img src='{{ STATIC_URL }}img/vk.svg' class='qa-avatar' />
        {% endif %}
        <p class='inline'>{{ question.author.get_full_name }} <a href='{{ question.get_absolute_url }}'>Ссылка</a></p>
    {% else %}
        <img src='{{ STATIC_URL }}img/vk.svg' class='qa-avatar' />
        <p class='inline'>Аноним <a href='{{ question.get_absolute_url }}'>Ссылка</a></p>
    {% endif %}
</section>

    {% for answer in question.get_answers %}
        <section class='card'>
        <div class='comment {% if answer.author.is_staff %}qa-with-border{% endif %}' id='CT{{ answer.id }}'>
            <!--<a name='{{ answer.id }}'/>-->
            {% if answer.author.avatar_url %}
                <img src='{{ answer.author.avatar_url }}' class='qa-avatar' />
            {% else %}
                <img src='{{ STATIC_URL }}img/vk.svg' class='qa-avatar' />
            {% endif %}
            <div class='qa-comment-text'>
                <span>{{ answer.author.get_full_name }}</span>
                {% if answer|util_is_comment_to_comment %}
                <p><a href='#{{ answer.commented_object.id }}'{% if answer.commented_object.author == request.user %} style='background:#FF0000;color:#FFFFFF;'{% endif %}>{{ answer.commented_object.author.get_full_name }}</a>, </p>
                {% endif %}
                <p>{{ answer.text }}</p>
                <a style='display: inline-block;' data-comment-num='{{ answer.id }}' href='#{{ answer.id }}' name='answer' class='block'>{% if answer.author == request.user %}Изменить{% else %}Ответить{% endif %}</a> <a style='display: inline-block;' href='{{ question.get_absolute_url }}#{{ answer.id }}'>Ссылка</a><br/>
                <small>Изменён {{ answer.edited }}</small>
                {% if answer.author == request.user %}
                    <a href='delete?id={{ answer.id }}'>Удалить</a>
                {% endif %}
                <hr>
            </div>
        </div>
    </section>
    {% endfor %}
<form action='' method='post' id='comment'>
    {% csrf_token %}
    <div class='card'>
        <input type='checkbox' class='hidden' id='qa-isanswer'>
        <input type='text' class='hidden' name='answerto' id='answerto'>
        <p id='qa-answerval'><label for='qa-isanswer' onclick='document.getElementById("answerto").value="";'>[X]</label> => <a id='qa-answer-name'>{{ question.author.get_full_name }}</a></p>

        <textarea rows=3 name='text'required ></textarea>
        <input required type='checkbox' id='self_checked'><label for='self_checked'> Я проверил текст на ошибки</label>

        <input type='submit' value='Отправить' />
    </div>
</form>
{% endblock %}
{% block body_extras %}
<script>

window.addEventListener('load', function() {
        var answers = document.getElementsByName('answer');

        for (var item of answers) {
            //alert(item);
            item.addEventListener('click', function(ev) {
                ev = ev || window.event;// IE8-
                elem = ev.currentTarget;
                document.getElementById('qa-answer-name').innerText = elem.parentNode.getElementsByTagName('span')[0].innerText;
                document.getElementById('answerto').value = elem.getAttribute('data-comment-num');
                document.getElementById('qa-isanswer').checked = true;
            });
        }
    });
    function showuserinfo(name, vkid, number, email) {
        var username = document.querySelector('#userinfo_name'),
            uservkid = document.querySelector('#userinfo_vkid'),
            usernumber = document.querySelector('#userinfo_number'),
            useremail = document.querySelector('#userinfo_email');
        usernumber.classList.add('hidden');
        uservkid.classList.add('hidden');
        useremail.classList.add('hidden');
        username.innerText = name;
        if (number !== null) {
            usernumber.innerText = 'Позвонить: ' + number;
            usernumber.href = 'tel:' + number;
            usernumber.classList.remove('hidden');
        }
        if (vkid !== null) {
            uservkid.innerText = 'Написать в ВК vk.com/id' + vkid;
            uservkid.href = 'https://vk.me/id' + vkid;
            uservkid.classList.remove('hidden');
        }
        if (email !== null) {
            useremail.innerText = 'Написать: ' + email;
            useremail.href = 'mailto:' + email;
            useremail.classList.remove('hidden');
        }
    };
</script>
{% endblock %}
