{% extends 'core/base.html' %}
{% load utils_extra_filters %}

{% block head_extras %}
<style>
    #tab-main:checked~div.tab:nth-of-type(1),
    #tab-question-list:checked~div.tab.question_list,
    #tab-new-question:checked~div.tab.new_question {
        display: block;
    }
    
    #tab-new-question:checked~div.new_question {
        display: block;
    }
</style>
{% endblock %}
<!---->
{% block content %}
<section class='card'>
    <h2>Студсовет</h2>
</section>
<!-- Try to set last page as default. Missed key are interpreted as 'False' -->
<input type='radio' class='hidden' name='tabs' id='tab-main' 
{% if not tab.new_question and not tab.question_list %}
checked{% endif %}>
<input type='radio' class='hidden' name='tabs' id='tab-question-list' 
{% if tab.question_list %}
checked{% endif %}>
<input type='radio' class='hidden' name='tabs' id='tab-new-question' 
{% if tab.new_question %}
checked{% endif %}>
<span class='card'>
    <label for='tab-main' class='card tablabel'>
        <h3>Основные положения</h3>
    </label>
    <label for='tab-question-list' class='card tablabel'>
        <h3>Заданные вопросы</h3>
    </label>
    <label for='tab-new-question' class='card tablabel'>
        <h3>Вопрос студсовету</h3>
    </label>
</span>
<div class='card tab'>
    <h2 class='lightgrey'>Основные положения</h2>
    <div style='padding-bottom:1em;'>{{ note.text.rendered }}</div>
    <small class='text-muted'>Обновлено {{ note.edited }} <a href='{{ note.get_absolute_url }}'>Ссылка</a></small>
</div>
<div class='card tab question_list'>
    <h2>Заданные вопросы</h2>
    <div>
        <div class='card-maintext'>
            <ul>
                {% for question in question_list %}
                    {% if question.is_approved %}
                    <li><a href='{{ question.pk }}'>{{ question.title }}{% if question.is_public %} ({{ question.author.get_full_name }}){% endif %}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class='new_question card tab'>
    <h2>Вопрос студсовету</h2>
    {% if user.is_authenticated %}
        <h3>Задайте свой вопрос</h3>
        <!-- enctype must be set for file upload -->
        <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {{ form.title.errors }}
            <p><label for='{{ form.title.id_for_label }}'>Заголовок</label> {{ form.title }}</p>
            {{ form.text.errors }}

            <p>{{ form.text }}</p>

            {{ form.attachment.errors }}
            <table><tr><td><label for='{{ form.attachment.id_for_label }}'>{{ form|util_get_form_field_verbose_name:'attachment' }}</label></td></tr><tr><td>{{ form.attachment }}</td></tr></table>

            {{ form.is_public.errors }}
            <p>{{ form.is_public }}<label for='{{ form.is_public.id_for_label }}'>Не скрывать автора</label></p>
            {{ form.check_to_send.errors }}
            <p>{{ form.check_to_send }} <label for='{{ form.check_to_send.id_for_label }}'>Мой вопрос ещё не был занят никем до меня и относится к ФРТК</label></p>
            <input type='submit' id='submit' value='Отправить'/>
        </form>
    {% else %}
        <p>Войдите, чтобы задать свой вопрос!</p>
    {% endif %}
</div>
{% endblock %}
