{% extends 'core/base.html' %}

{% load markdown_deux_tags %}

{% block content %}
    <section class='card'>
{% markdown STYLE %}
# FAQ
Добро пожаловать на сайт студсовета ФРТК! Здесь приведены ответы и подсказки по сайту.

1. **Новости пропадают?**  
  Нет, их можно найти в последней карточке *'Архив'* - там их можно выбрать по годам. Обратите внимание на URL - годы новостей можно самостоятельно с разделителем *'-'*. Чтобы получить ссылку на конкретную новость, смотрите ссылку под каждой новостью. Принцип URL тот же самый, фильтры можно комбинировать.
{% endmarkdown %}
    </section>
{% endblock %}
