<!DOCTYPE html>
<html>
    {% load staticfiles %}
    {% load utils_extra_filters %}

    <head>
<!-- if not 'safe', will be rendered as part of the <body> -->
        {{ webmaster_tags.yandex|safe }}
        {{ webmaster_tags.google|safe }}

        <title>{{ site_tab_name }}</title>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>

        <link type='text/css' rel='stylesheet' href='{{ STATIC_URL }}web_copy/normalize/normalize.css'>
        <link type='text/css' rel='stylesheet' href='{{ STATIC_URL }}css/style.css'>
<!--[if lt IE 9]>
            <script type='text/javascript'>
              document.createElement('header');
              document.createElement('nav');
              document.createElement('main');
              document.createElement('section');
              document.createElement('article');
              document.createElement('aside');
              document.createElement('footer');
            </script>
<![endif]-->
        {% block head_extras %}

        {% endblock %}

    </head>
    <body>
        <input type='checkbox' class='hidden' id='showside'>
        <script type='text/javascript'>
          var $buoop = {
              vs: {
                  i: 11,
                  f: 51,
                  o: 35,
                  s: 8,
                  c: 48
              },
              unsecure: true,
              api: 4
          };
          function $buo_f() {
              var e = document.createElement('script');
              e.src = 'https://browser-update.org/update.min.js';
              document.body.appendChild(e);
          };
          try {
              document.addEventListener('DOMContentLoaded', $buo_f, false)
          } catch (e) {
              window.attachEvent('onload', $buo_f)
          }
        </script>
        <noscript>
            <div class='buorg'>
                <div>
                    <b>В вашем веб-браузере не включен javascript.</b>
                    Включите его или обновите свой браузер, чтобы сделать пребывание на этом сайте более безопасным, комфортным и продуктивным.
                    <a href='http://browser-update.org/update-browser.html' target='_blank' rel='noopener' id='buorgul'>Обновить браузер</a>
                </div>
                <style type='text/css'>
                  .buorg {
                      background: #FDF2AB;
                      position: relative;
                      z-index: 111111;
                      width: 100%;
                      top: 0px;
                      left: 0px;
                      border-bottom: 1px solid #A29330;
                      text-align: left;
                      cursor: pointer;
                      background-color: #fff8ea;
                      font: 17px Calibri, Helvetica, Arial, sans-serif;
                      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                  }
                  
                  .buorg div {
                      padding: 11px 12px 11px 30px;
                      line-height: 1.7em;
                  }
                  
                  .buorg div a,
                  .buorg div a:visited {
                      text-indent: 0;
                      color: #fff;
                      text-decoration: none;
                      box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
                      padding: 1px 10px;
                      border-radius: 4px;
                      font-weight: normal;
                      background: #5ab400;
                      white-space: nowrap;
                      margin: 0 2px;
                      display: inline-block;
                  }
                  
                  @media only screen and (max-width: 700px) {
                      .buorg div {
                          padding: 5px 12px 5px 9px;
                          text-indent: 22px;
                          line-height: 1.3em;
                      }
                  }
                </style>
            </div>
        </noscript>
        <div id='back'></div>
        <input type='checkbox' class='hidden' id='modal_check'>
        <div class='{{ notification.type }} {% if not notification.enabled %}hidden{% endif %} card' id='modal'>
            <div class='container'>
                <h3>
                    {{ notification.text }}
                </h3>
                <label for='modal_check' class='m_close'>
                    <svg viewBox='0 0 10 10' class='close'>
                        <path d='M2 8l6-6M2 2l6 6'></path>
                    </svg>
                </label>
            </div>
        </div>
        <input type='checkbox' class='hidden' id='modal_userinfo_check'>
        <label for='modal_userinfo_check' id='modal_userinfo_back'></label>
        <div class='container' id='modal_userinfo'>
            <div class='card modal_userinfo'>
                <div id='modal_userinfo_content'>Здесь должен быть текст</div>
                <label for='modal_userinfo_check' class='m_close'>
                    <svg viewBox='0 0 10 10' class='close'>
                        <path d='M2 8l6-6M2 2l6 6'></path>
                    </svg>
                </label>
            </div>
        </div>
        <input type='checkbox' class='hidden' id='modal_refill_check'>
        <label for='modal_refill_check' id='modal_refill_back'></label>
        <div class='container' id='modal_refill'>
            <div class='card modal_refill'>
                <iframe src='https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets={{ pay_yandex.payment_text|urlencode }}&targets-hint=&default-sum=2&button-text=11&{% if pay_yandex.enable_card %}payment-type-choice=on&{% endif %}{% if pay_yandex.enable_phone %}mobile-payment-type-choice=on&{% endif %}fio=on&hint=&successURL={{ pay_yandex.success_redirect_url|urlencode }}&quickpay=shop&account={{ pay_yandex.account|urlencode }}&label={{ user.id|urlencode }}' width='450' height='223' frameborder='0' allowtransparency='true' scrolling='no'></iframe>
                <label for='modal_refill_check' class='m_close'>
                    <svg viewBox='0 0 10 10' class='close'>
                        <path d='M2 8l6-6M2 2l6 6'></path>
                    </svg>
                </label>
            </div>
        </div>
        <article id='top'>
            <div id='quick_tool'>
                <div class='container'>
                    <div class='inline right' id='vk_quick'>
                        {% if user.is_authenticated %}
                            <label for='modal_refill_check'>
                                <a class='btn m-dark'>
                                    <span>На счету: {{ user.account|urlencode }} руб.</span>
                                </a>
                            </label>
                            {% if user.avatar_url %}
                                <img src='{{ user.avatar_url }}'>
                            {% else %}
                                <img src='{{ STATIC_URL }}img/vk.svg'>
                            {% endif %}
                            <a href='{% url 'logout' %}?next={{ next_return }}' class='btn btn-vk'>
                                <span>Привет, {{ user.get_short_name }}</span>
                            </a>
                        {% else %}
                            <img src='{{ STATIC_URL }}img/vk.svg'>
                            {% if not is_emergency_login_mode %}
                                <a href='{% url 'social:begin' 'vk-oauth2' %}?next={{ next_return }}' class='btn btn-vk'>
                                    <span>Войти через ВК</span>
                                </a>
                            {% else %}
                                <a href='{% url 'emergency-login' %}?next={{ next_return }}' class='btn btn-vk'>
                                    <span>Войти</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class='inline'>
                        {% with surveys_todo=user.get_surveys_to_pass %}
                            {% if user.is_staff %}
                                {% if is_agressive_question_notification and util_get_new_question_num %}
                                    <a href='/admin/note/question/' class='btn btn-admin'>
                                        <span>Вопросов: {{ util_get_new_question_num }}</span>
                                    </a>
                                {% elif request.path|util_contains_string:'^/$' and perms.news %}
                                    <a href='/admin/news/news/add/' class='btn btn-vk'>
                                        <span>Добавить новость</span>
                                    </a>
                                {% elif request.path|util_contains_string:'^/surveys/' and perms.surveys %}
                                    <a href='/admin/survey/survey/add/' class='btn btn-vk'>
                                        <span>Добавить опрос</span>
                                    </a>
                                {% else %}
                                    <a href='/admin' class='btn btn-vk'>
                                        <span>В админку</span>
                                    </a>
                                {% endif %}
                            {% elif surveys_todo %}
<!-- 
                                    goto surveys
                                    TODO: survey targets
                                    <a href='/surveys' class='btn btn-vk'>
                                        <span>Опросов: {{ surveys_todo }}</span>

                                    </a>
-->
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div id='welcome'>
                <img src='{{ STATIC_URL }}img/header.svg'>
            </div>
            <div id='bottom_menu'>
                <div>
                    <ul class='link-underline'>
                        {% for entry in menu_entries %}
                            <li>
                                <a href='{{ entry.url }}' class='{% if request.path|util_is_active_menu_entry:entry.url %}active{% endif %}'>
                                    <span>{{ entry.name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <aside id='header'>
                <!-- FIX: NO link-underline -->
                <div class='box'>
                    <article id='vk_header'>
                        {% if user.is_authenticated %}
                            {% if user.avatar_url %}
                                <img src='{{ user.avatar_url }}'>
                            {% else %}
                                <img src='{{ STATIC_URL }}img/vk.svg'>
                            {% endif %}
                            <section>
                                <p>Привет, {{ user.get_short_name }}</p>
                                <a href='{% url 'logout' %}?next={{ next_return }}' class='btn btn-vk'>Выйти</a>
                                <label for='modal_refill_check'>
                                    <a class='m-btn m-dark'>
                                        <span>На счету: {{ user.account|urlencode }}руб.</span>
                                    </a>
                                </label>
                            </section>
                        {% else %}
                            <img src='{{ STATIC_URL }}img/vk.svg'>
                            <section>
                                <p>Привет, гость</p>
                                {% if not is_emergency_login_mode %}
                                    <a href='{% url 'social:begin' 'vk-oauth2' %}?next={{ next_return }}' class='btn btn-vk'>Войти через ВК</a>
                                {% else %}
                                    <a href='{% url 'emergency-login' %}?next={{ next_return }}' class='btn btn-vk'>Войти</a>
                                {% endif %}
                            </section>
                        {% endif %}
                    </article>
                    <nav class='link-underline' id='nav'>
                        <ul>
                            {% for entry in menu_entries %}
                                <li>
                                    <a href='{{ entry.url }}' class='{% if request.path|util_is_active_menu_entry:entry.url %}active{% endif %}'>
                                        <span>{{ entry.name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </aside>
            <label for='showside' id='filterToggler'></label>
        </article>
        <div id='wrapper'>
            <main style='{% block content_style %}{% endblock %}' class='container' id='content'>
                {% block content %}
                {% endblock %}
            </main>
        </div>
        <label for='showside' id='headerToggle'>
            <svg viewBox='0 0 10 10' class='toggle hamburger'>
                <path d='M8,3 L2,3' class='p1'></path>
                <path d='M2,5 L8,5' class='p2'></path>
                <path d='M8,7 L2,7' class='p3'></path>
            </svg>
        </label>
        <script src='{{ STATIC_URL }}js/base.js'></script>
        {% block body_extras %}
        {% endblock %}
    </body>
</html>
