{% extends 'admin_change_form_base.html' %}

{% block admin_change_form_custom %}
    <script src='{{ STATIC_URL }}web_copy/ckeditor-4.7.x/ckeditor.js'></script>
    <script src='{{ STATIC_URL }}settings/ckeditor_settings.js'></script>
    <script src='{{ STATIC_URL }}js/utils.js'></script>
    <script src='{{ STATIC_URL }}js/textarea_to_ckeditor.js'></script>
    <script type='text/javascript'>
        function color_lock() {
            is_lock_disabled = document.getElementById('id_disable_lock');
            if (is_lock_disabled.checked)
                document.body.style['background-color'] = 'red';
            else
                document.body.style['background-color'] = null;
        };
        util_add_handler(document.getElementById('id_disable_lock'), 'change', color_lock);
        util_add_handler(window, 'load', color_lock);
        // Remove inlines
        /*util_add_handler(window, 'load', function() {
            var checkbox_elem = document.getElementById('id_is_single_item');
            var before = document.getElementsByClassName('submit-row')[0];
            var inlines = new Array(3);
            inlines[0] = document.getElementById('items-group');
            inlines[1] = document.getElementById('service-workingtime-content_type-object_id-group');
            inlines[2] = document.getElementById('service-workingtimeexception-content_type-object_id-group');
            var checkbox_swap = function() {
                if (checkbox_elem.checked) {
                    for (var i = 0; i < inlines.length; i++)
                        before.parentNode.removeChild(inlines[i]);
                }
                else {
                    for (var i = 0; i < inlines.length; i++)
                        before.parentNode.insertBefore(inlines[i], before);
                }
                form = document.getElementById('service_form');
                alert(JSON.stringify(form));
            };
            if (checkbox_elem.addEventListener) {
                checkbox_elem.addEventListener('click', checkbox_swap, false);
            }
            else if (checkbox_elem.attachEvent) {
                checkbox_elem.attachEvent('onclick', checkbox_swap);
            }
            else {
                checkbox_elem['onclick'] = checkbox_swap;
            }
        });*/
    </script>
{% endblock %}

