- extends 'core/base.html'

- block content
    %section.card
        %h2.lightgray Доступные сервисы:
        - for service in service_list
            %a{href:'{% url "service:service" service.slug %}'}
                .card.service_card
                    %img.card-img{src:'#{ service.image.url }'}
                    %p #{ service.name }
