.tablabel {
    margin-top: 8px;
    margin-left: 4px;
    display: inline-block;
    border: 3px rgba(204, 204, 204, 0.6) solid;
}
.tablabel>h3 {
    margin: 0;
}
.tab,
.newans,
.answer {
    display: none;
    z-index: 0;
}
.newans textarea {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 4.5em;
    max-height: 10.5em;
    maxlength: 9;
}