{% extends 'service_base1.html' %}

{% load utils_extra_filters %}

{% block form_attributes %}
    id='service'
{% endblock %}

{% block single_day %}
    <table>
        {% with i_value=day.items.values|util_to_list|first %}
        {% for cell in i_value.time %}
            <tr>
                <th class='time' style='vertical-align:middle;text-align:center;'>{{ cell.start|date:'G:i' }}<br />-<br />{{ cell.end|date:'G:i' }}</th>
                {% if cell.orders %}
                    {% with order=cell.orders|first %}
                    {% with participation=order.extra_data.participations|util_to_list|first %}
                    <td>
                        <!-- TODO: <h2/> for title, <span class='celltext'/> for description-->
                        <span class='celltext'>{% if order.extra_data.title %}{{ order.extra_data.title }}{% else %}{{ cell.orders|util_get_single_item_orders_str }}{% endif %}</span>
                    </td>
                    <td>
                        <label>
                            {% if participation.user != user %}
                                    <input type='checkbox' class='servselector hidden' name='participation={{ order.id }}' />
                                <a class='m-btn m-mobiletiny servoff'>Участвовать</a>
                                <a class='m-btn m-mobiletiny m-selected servon'>Выбрано</a>
                            {% else %}
                                Вы участвуете
                            {% endif %}
                        </label>
                    </td>
                    {% endwith %}
                    {% endwith %}
                {% else %}
                    <td>
                        <span class='celltext'>Время свободно</span>
                    </td>
                    <td>
                        <label>
                            <input type='checkbox' class='servselector hidden' name='order={{ day.items.keys|util_to_list|first }}&&{{ cell.start.time }}&&{{ cell.end.time }}&&{{ cell.start.date|date:'Y-m-d' }}' data-price='{{ i_value.price }}' data-timestart='{{ cell.start.time }}' data-timeend='{{ cell.end.time }}' data-item='{{ service.name }}' />
                            <a class='m-btn m-mobiletiny servoff'>Зарезервировать</a>
                            <a class='m-btn m-mobiletiny m-selected servon'>Выбрано</a>
                        </label>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        {% endwith %}
    </table>
{% endblock %}

{% block final_inputs %}
    <textarea rows=5 style='width:100%;max-width:100%;min-height:3ex;' name='title' placeholder='Пояснить причину заказа (если оставить пустым, будет показано ФИО)'></textarea><br />
{% endblock %}
