/*
 ***### ALLPAGE styles not prefered
    font-family: 'Noto Serif', serif;
 */

html,
body {
    font-family: 'Noto Sans', sans-serif;
}

header,
nav,
section,
main,
article,
aside,
footer {
    display: block;
}


/*
 ***### TOP, HEADER and TOGGLER styles
 */

#back {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     background: #fff;
     z-index: 1500;
}

#top {
    opacity: 0.65;
    z-index: 2000;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    background-image: url(img/back.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-color: #fff;
    height: 100vh;
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 0;
}

 #top>div:first-child {
    padding: 4rem;
}

#top>div:first-child>div {
    background: rgba(0, 0, 0, 0.65);
    padding: 4em 1em;
    text-shadow: 3px 3px 3px #000;
}

#bottom_menu {
    display: inline;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #2c0303;
    width: 100%;
    max-width: 100%;
    clear: none;
}

#bottom_menu ul {
    white-space: nowrap;
    position: relative;
    left: 0;
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

#bottom_menu ul>li {
    list-style: none;
    display: inline-block;
    float: none;
}
#bottom_menu ul>li a{
    line-height: 3.5rem;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
 }

#header {
    background: #290000;
    color: #fff;
    display: block;
    position: fixed;
    bottom: 0;
    left: -webkit-calc(50vw - 665px);
    left: -moz-calc(50vw - 665px);
    left: calc(50vw - 665px);
    top: 0;
    height: 100%;
    min-width: 300px;
    max-width: -webkit-calc(50vw - 350px);
    max-width: -moz-calc(50vw - 350px);
    max-width: calc(50vw - 350px);
    text-align: right;
    z-index: 1000;
    overflow-y: auto;

}

#header>.box {
    overflow-y: auto;
    position: absolute;
    min-height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/* VK block styles */

#vk-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#vk-header * {
    margin: 10px auto;
}

#vk-header>img {
    margin: auto;
    max-height: 100px;
    max-width: 100px;
    height: 100px;
    width: 100px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

#vk-header>section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
}

#nav {
    width: 100%;
}

#nav ul {
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    list-style: none;
}

#nav ul li a {
    display: block;
    padding: 0.5em 1.5em;
    color: #fff;
    text-decoration: none;
    outline: 0;
    border: 0;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    transition: none;
}

#header #goup {
    width: -webkit-calc(100% - 2rem);
    width: -moz-calc(100% - 2rem);
    width: calc(100% - 2rem);
    color: #000;
    padding: 1rem;
    background-color: #ccc;
}

#headerToggle {
    display: none;
    position: fixed;
    overflow: visible;
    height: 2.25em;
    left: 0;
    top: 0;
    width: 3.25em;
    z-index: 10001;
}

#headerToggle .toggle {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    outline: 0;
    border: 0;
}

#headerToggle .toggle::before {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    content: '\2261';
    color: #fff;
    font-size: 1.5rem;
    line-height: 2.25rem;
    background: rgba(128, 136, 144, 0.5);
    -moz-border-radius: 0.35rem;
    border-radius: 0.35rem;
    text-align: center;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    display: block;
    width: 3.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
}


/*
 * MAIN styles
 */



#wrapper {
    position: relative;
    top: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: url(img/RT_mini.png) repeat #FFEBEE;
    background-attachment: fixed;
}

footer {
    width: 100%;
    height: 45px;
    background: #ccc;
    z-index: 1500;
}

footer>section {
    line-height: 45px;
}


/*
 * ALL media styles
 */

@media (max-width: 1600px) {
    #header {
        left: 0;
        width: 300px;
    }
    .container {
        margin-left: initial;
        margin-right: initial;
        left: 300px;
        width: 700px;
        max-width: -webkit-calc(100% - 330px);
        max-width: -moz-calc(100% - 330px);
        max-width: calc(100% - 330px);
    }
}

@media (max-width: 800px) {
    #top>div:first-child>div {
        background: rgba(0, 0, 0, 0.65);
        padding: 1em;
        text-shadow: 3px 3px 3px #000;
    }
    #header {
        left: -100%;
        min-width: 50vw;
        width: 50vh;
        max-width: 100%;
        z-index: 2500;
        text-align: center;
        transition: left .4s cubic-bezier(1,0,0,1);
    }
    #goup {
        display: none;
    }
    .container {
        margin-right: 0;
        margin-left: 0;
        left: 0;
        max-width: -webkit-calc(100% - 30px);
        max-width: -moz-calc(100% - 30px);
        max-width: calc(100% - 30px);
    }
    #showside:checked~#header {
        left: 0;
        transition: left .4s cubic-bezier(1,0,0,1);
    }
    #headerToggle {
        overflow: visible;
        display: block;
    }
    #showside:checked~#headerToggle .toggle::before {
        display: block;
        content: '\274C';
    }
}

@media(max-width: 768px) {

    #wrapper {
        left: auto;
        width: 100%;
    }
}


/*
 ***### ALLPAGE styles prefered
    font-family: 'Noto Serif', serif;
 */

.hidden {
    display: none;
}
