/*
 ***### ALLPAGE styles not prefered
 */

html,
body {
    font-family: 'Noto Sans', sans-serif;
}

header,
nav,
section,
main,
article,
aside,
footer {
    display: block;
}


/*
 ***### TOP, HEADER and TOGGLER styles
 */

#back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.65;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: url(img/back.jpg) center center fixed;
    -moz-background-size: cover;
    background-size: cover;
}

#top {
    z-index: 150;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    max-height: 700px;
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 0;
}

#top>div:first-child {
    background: rgba(0, 0, 0, 0.5);
    padding: 1.33rem;
    text-shadow: 3px 3px 3px #000;
    margin: 2rem;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#bottom_menu {
    display: inline;
    position: relative;
    left: 0;
    bottom: 0;
    background: #2c0303;
    width: 100%;
    max-width: 100%;
    clear: none;
}

#bottom_menu>div {
    background: #2c0303;
}

#bottom_menu ul {
    white-space: nowrap;
    position: relative;
    left: 0;
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

#bottom_menu ul>li {
    list-style: none;
    display: inline-block;
    float: none;
}

#bottom_menu ul>li a {
    line-height: 3.5rem;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
}

#vk-menu div {
    display: inline-block;
    vertical-align: middle;
}

#vk-menu img {
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
    border-radius: 100%;
    margin-bottom: 5px;
}

#bottom_menu ul>li#vk-menu>a {
    border-bottom: none;
    padding: 5px;
    line-height: inherit;
    border-bottom: 5px solid #2c0303;
}

#bottom_menu .unhide_elem_1000 {
    display: none;
}

#header {
    background: #290000;
    color: #fff;
    display: none;
    position: absolute;
    bottom: 0;
    left: -100%;
    top: 0;
    min-height: 100vh;
    height: 100vh;
    min-width: 300px;
    max-width: -webkit-calc(50vw - 350px);
    max-width: -moz-calc(50vw - 350px);
    max-width: calc(50vw - 350px);
    text-align: right;
    z-index: 1000;
    overflow-y: auto;
    -webkit-transition: left .4s .1s cubic-bezier(1, 0, 0, 1);
    -o-transition: left .4s .1s cubic-bezier(1, 0, 0, 1);
    -moz-transition: left .4s .1s cubic-bezier(1, 0, 0, 1);
    transition: left .4s .1s cubic-bezier(1, 0, 0, 1);
}

#header>.box {
    overflow-y: auto;
    position: absolute;
    min-height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#filterToggler {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    width: 0;
    height: 100%;
    min-width: 0;
    min-height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 500;
    -webkit-transition: opacity .4s cubic-bezier(1, 0, 0, 1);
    -o-transition: opacity .4s cubic-bezier(1, 0, 0, 1);
    -moz-transition: opacity .4s cubic-bezier(1, 0, 0, 1);
    transition: opacity .4s cubic-bezier(1, 0, 0, 1);
}


/* VK block styles */

#vk-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 10px;
}

#vk-header * {
    margin: 10px auto;
}

#vk-header>img {
    margin: auto;
    height: 100px;
    width: 100px;
    max-height: 100px;
    min-height: 100px;
    max-width: 100px;
    min-width: 100px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-image: url(img/vk.svg);
}

#vk-header>section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
}

#nav {
    width: 100%;
}

#nav ul {
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    list-style: none;
}

#nav ul li a {
    display: block;
    padding: 0.5em 1.5em;
    color: #fff;
    text-decoration: none;
    outline: 0;
    border: 0;
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    transition: none;
}

#showside:checked~article>#header {
    left: -webkit-calc(50vw - 665px);
    left: -moz-calc(50vw - 665px);
    left: calc(50vw - 665px);
    -webkit-transition: left .4s cubic-bezier(1, 0, 0, 1);
    -o-transition: left .4s cubic-bezier(1, 0, 0, 1);
    -moz-transition: left .4s cubic-bezier(1, 0, 0, 1);
    transition: left .4s cubic-bezier(1, 0, 0, 1);
}

#showside:checked~article>#filterToggler {
    position: fixed;
    right: 0;
    width: 100%;
    min-width: 100%;
    opacity: 0.75;
    -webkit-transition: opacity .4s cubic-bezier(1, 0, 0, 1);
    -o-transition: opacity .4s cubic-bezier(1, 0, 0, 1);
    -moz-transition: opacity .4s cubic-bezier(1, 0, 0, 1);
    transition: opacity .4s cubic-bezier(1, 0, 0, 1);
    z-index: 500;
}

#headerToggle {
    position: fixed;
    overflow: visible;
    display: none;
    height: 2.25em;
    left: 0;
    top: 0;
    width: 3.25em;
    z-index: 9999;
}

#headerToggle .toggle {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    font-size: 1.5rem;
    line-height: 2.25rem;
    background: rgba(128, 136, 144, 0.5);
    -moz-border-radius: 0.35rem;
    border-radius: 0.35rem;
    text-align: center;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    display: block;
    width: 3.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
}

.hamburger {
    height: 100%;
    cursor: pointer;
}
.hamburger path {
    stroke: currentcolor;
    transition: .2s;
    stroke-width: 0.5px;
}
#showside:checked~#headerToggle .hamburger .p1 { d: path("M2,8 L8,2"); }
#showside:checked~#headerToggle .hamburger .p2 { d: path("M5,5 L5,5"); }
#showside:checked~#headerToggle .hamburger .p3 { d: path("M2,2 L8,8"); }


/*
 * MAIN styles
 */

#wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    height: 100%;
    z-index: 100;
}

main.container,
footer .container {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    max-width: 700px;
}

main>.card {
    width: -webkit-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: calc(100% - 30px);
    max-width: -webkit-calc(100% - 30px);
    max-width: -moz-calc(100% - 30px);
    max-width: calc(100% - 30px);
}

footer {
    width: 100%;
    height: 45px;
    background: #ccc;
    z-index: 450;
    position: relative;
    bottom: 0;
}

footer>section {
    line-height: 45px;
    margin: 0;
}


/*
 * ALL media styles
 */

@media (max-width: 1400px) {
    main.container,
    footer .container {
        margin-left: auto;
        margin-right: auto;
        width: 700px;
        max-width: -webkit-calc(100% - 330px);
        max-width: -moz-calc(100% - 330px);
        max-width: calc(100% - 330px);
    }
}

@media (max-width: 1020px) {
    #bottom_menu .hide_elem_1000 {
        display: none;
    }
    #bottom_menu .unhide_elem_1000 {
        display: inline-block;
    }
}

@media (max-width: 860px) {
    #top>div:first-child>div {
        background: rgba(0, 0, 0, 0.65);
        padding: 1em;
        text-shadow: 3px 3px 3px #000;
    }
    #bottom_menu {
        display: none;
    }
    #headerToggle {
        display: block;
    }
    #header {
        display: block;
        position: fixed;
        left: -100%;
        width: 50vh;
        min-width: 50vw;
        max-width: 100%;
        text-align: center;
    }
    #showside:checked~article>#header {
        left: 0;
    }
    main.container,
    footer .container {
        margin-right: auto;
        margin-left: auto;
        left: 0;
        width: -webkit-calc(100% - 30px);
        width: -moz-calc(100% - 30px);
        width: calc(100% - 30px);
        max-width: -webkit-calc(100% - 30px);
        max-width: -moz-calc(100% - 30px);
        max-width: calc(100% - 30px);
    }
}


/*
 ***### ALLPAGE styles prefered
    font-family: 'Noto Serif', serif;
 */

.hidden {
    display: none;
}

.sticky {
    position: fixed !important;
    top: 0;
    bottom: auto !important;
}
