/*
 ***### ALLPAGE styles not prefered
    font-family: 'Noto Serif', serif;
 */

html {
    font-family: 'Noto Sans', sans-serif;
}


/* Styled Link */

.link-underline a {
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    color: inherit;
    -webkit-transition: background .15s cubic-bezier(.33, .66, .66, 1);
    transition: background .15s cubic-bezier(.33, .66, .66, 1);
}

.btn {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .5em 1em;
    border-radius: .25em;
}


/*
 ***### HEADER and TOGGLER styles
 */

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex: 1;
    background: #290000;
    color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: right;
    top: 0;
    width: 300px;
    z-index: 1000;
    overflow-y: auto;
}

#header>.box {
    overflow-y: auto;
    position: absolute;
    min-height: 100%;
    width: 100%;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* VK block styles */

#vk-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vk-header * {
    margin: 10px auto;
}

#vk-header img {
    max-height: 100px;
    max-width: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.btn-vk {
    color: #fff;
    background-color: #4c6fa2;
    border-color: #4c6fa2;
}

#nav {
    width: 100%;
}

#nav ul {
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    list-style: none;
}

#nav ul li a {
    display: block;
    padding: 0.5em 1.5em;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    outline: 0;
    border: 0;
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
}

#headerToggle {
    display: none;
    height: 2.25em;
    left: 0;
    position: fixed;
    top: 0;
    width: 3.25em;
    z-index: 10001;
}

#headerToggle .toggle {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    outline: 0;
    border: 0;
}

#headerToggle .toggle::before {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\2261';
    color: #fff;
    font-size: 1.5rem;
    line-height: 2.25rem;
    background: rgba(128, 136, 144, 0.5);
    border-radius: 0.35rem;
    text-align: center;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    display: block;
    width: 3.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
}


/*
 * MAIN styles
 */

#main {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: calc(100% - 300px);
    height: 100%;
    left: 300px;
}

#main>.top {
    z-index: 120;
    background: url(img/background.svg) center center no-repeat;
    background-size: cover;
}

#main>.top>* {
    padding: 4em 0;
    z-index: 130;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

footer {
    padding: 20px;
    width: calc(100% - 40px);
    background: #ccc;
}


/*
 * ALL media styles
 */

@media (min-width: 991px) {
    #header {
        max-width: 300px;
    }
}

@media(max-width: 768px) {
    .activeSide* {
        overflow: hidden;
    }
    #header {
        left: calc(3.25em - 100vw);
        width: calc(100vw - 3.25em);
        text-align: center;
    }
    .activeSide #header {
        left: 0;
        width: 100vw; //calc(100vw - 3.25em);
    }
    #headerToggle {
        display: block;
    }
    .activeSide #headerToggle .toggle::before {
        display: block;
        content: '\274C';
    }
    #main {
        left: auto;
        width: 100%;
    }
}


/*
 ***### ALLPAGE styles prefered
    font-family: 'Noto Serif', serif;
 */

.hidden {
    display: none;
}
