.container {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.link-underline a {
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.link-underline.red a {
    border-bottom: 3px solid #800000;
    -webkit-box-shadow: inset 0 -4px 0 #800000;
    -moz-box-shadow: inset 0 -4px 0 #800000;
    box-shadow: inset 0 -4px 0 #800000;
    color: #000;
}

.link-underline.red a.active {
    color: #fff;
    background: #400000;
}

.link-underline.red a:hover,
.link-underline.red a:focus,
.link-underline.red a:active {
    color: #fff;
    background: #800000;
}

.link-underline a.lightblue {
    border-bottom: 3px solid #81D4FA;
    -webkit-box-shadow: inset 0 -4px 0 #81D4FA;
    -moz-box-shadow: inset 0 -4px 0 #81D4FA;
    box-shadow: inset 0 -4px 0 #81D4FA;
    color: #000;
}

.link-underline a.lightblue.active {
    color: #fff;
    background: #0277BD;
}

.link-underline a.lightblue:hover,
.link-underline a.lightblue:focus,
.link-underline a.lightblue:active {
    background: #81D4FA;
    color: #fff;
}

.btn {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .5em 1em;
    -moz-border-radius: .25em;
    border-radius: .25em;
}

.btn-vk {
    color: #fff;
    background-color: #4c6fa2;
    border-color: #4c6fa2;
}

.card {
    background: #fff;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -o-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -moz-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-img {
    max-width: 100%;
    width: 100%;
    border-bottom: #ccc solid 1px;
    padding-bottom: 1rem;
}

.card-maintext {}

#modal {
    z-index: 1000;
    margin: 0;
    position: fixed;
    padding-bottom: 2.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 3px solid #de2921;
    stroke: currentcolor; /* Color for svg written */
    transition: bottom .4s cubic-bezier(1, 0, 0, 1);
}

#modal_check:checked~#modal {
    bottom: -100%;
}

#modal>.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

#modal h3 {
    display: inline;
}

#modal svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 2px;
}

#modal>.container>.m_close {
    float: right;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
}

#modal.primary,
#modal.secondary,
#modal.success,
#modal.info,
#modal.warning,
#modal.danger,
#modal.dark {
    color: #fff;
}


#modal.light,
#modal.white {
    color: #000;
}

#modal.primary .container::before,
#modal.secondary .container::before,
#modal.success .container::before,
#modal.info .container::before,
#modal.warning .container::before,
#modal.danger .container::before,
#modal.light .container::before,
#modal.dark .container::before,
#modal.white .container::before {
    font-size: 1.3rem;
    content: '\1F6C8\00A0';
}

#modal.primary {
    background-color: #007bff;
}

#modal.secondary {
    background-color: #868e96;
}

#modal.success {
    background-color: #28a745;
}

#modal.info {
    background-color: #17a2b8;
}

#modal.info .container::before {
    content: '\1F6C8\00A0Инфо:';
}

#modal.warning {
    background-color: #ffc107;
}

#modal.warning .container::before {
    content: '\1F6C8\00A0Внимание:';
}

#modal.danger {
    background-color: #dc3545;
}

#modal.danger .container::before {
    content: '\1F6C8\00A0Внимание:';
}

#modal.light {
    background-color: #f8f9fa;
}

#modal.dark {
    background-color: #343a40;
}

#modal.white {
    background-color: #fff;
}

.cutted {
    display: block;
}

.full {
    display: none;
}

.shownews:checked~.cutted>label {
    display: none;
}

.shownews:checked~.full {
    display: block;
}

.tagspace {
    background-color: #EEEEEE;
}

.tag {
    margin: 2px;
    padding: 5px;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.tag.white {
    background: #FFF;
    color: #000;
}

.tag.yellow {
    background: #FFEB3B;
    color: #F57F17;
}

.tag.blue {
    background: #2196F3;
    color: #E3F2FD;
}

.tag.red {
    background: #F44336;
    color: #FFEBEE;
}

.tag.green {
    background: #4CAF50;
    color: #E8F5E9;
}

.tagged {
    display: none;
}

#tag_all:checked~* .tagged {
    display: block;
}

#tag_gotit:checked~* .tag_gotit {
    display: block;
}

#tag_1course:checked~* .tag_1course {
    display: block;
}

#tag_618:checked~* .tag_618 {
    display: block;
}

#tag_sport:checked~* .tag_sport {
    display: block;
}

#tag_hostel:checked~* .tag_hostel {
    display: block;
}

#tag_lecture:checked~* .tag_lecture {
    display: block;
}

#tag_site:checked~* .tag_site {
    display: block;
}
