.container {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    max-width: 700px;
    font-family: 'Noto Serif', serif;
}

.card {
    background: #fff;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
    padding: 1rem;
    margin: 1rem;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -o-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -moz-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-img {
    max-width: 100%;
    width: 100%;
    border-bottom: #ccc solid 1px;
    padding-bottom: 1rem;
}

.card-maintext {}

.link-underline.red a {
    border-bottom: 3px solid #800000;
    -webkit-box-shadow: inset 0 -4px 0 #800000;
    -moz-box-shadow: inset 0 -4px 0 #800000;
    box-shadow: inset 0 -4px 0 #800000;
}

.link-underline.red a.active {
    background: #400000;
}

.link-underline.red a:hover,
.link-underline.red a:focus,
.link-underline.red a:active {
    background: #800000;
}

.link-underline a.lightblue {
    border-bottom: 3px solid #81D4FA;
    -webkit-box-shadow: inset 0 -4px 0 #81D4FA;
    -moz-box-shadow: inset 0 -4px 0 #81D4FA;
    box-shadow: inset 0 -4px 0 #81D4FA;
}

.link-underline a.lightblue.active {
    background: #0277BD;
}

.link-underline a.lightblue:hover,
.link-underline a.lightblue:focus,
.link-underline a.lightblue:active {
    background: #81D4FA;
    color: #fff;
}

.cuted {
    display: block;
}

.full {
    display: none;
}

.shownews:checked~.cuted {
    display: none;
}

.shownews:checked~.full {
    display: block;
}

.tagspace {
    background-color: #EEEEEE;
}

.tag {
    margin: 2px;
    padding: 5px;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.tag.white {
    background: #FFF;
    color: #000;
}

.tag.yellow {
    background: #FFEB3B;
    color: #F57F17;
}

.tag.blue {
    background: #2196F3;
    color: #E3F2FD;
}

.tag.red {
    background: #F44336;
    color: #FFEBEE;
}

.tag.green {
    background: #4CAF50;
    color: #E8F5E9;
}

.tagged {
    display: none;
}

#tag_all:checked~* .tagged {
    display: block;
}

#tag_gotit:checked~* .tag_gotit {
    display: block;
}

#tag_1course:checked~* .tag_1course {
    display: block;
}

#tag_618:checked~* .tag_618 {
    display: block;
}

#tag_sport:checked~* .tag_sport {
    display: block;
}

#tag_hostel:checked~* .tag_hostel {
    display: block;
}

#tag_lecture:checked~* .tag_lecture {
    display: block;
}

#tag_site:checked~* .tag_site {
    display: block;
}
