/* NEWS */

.cutted {
    display: block;
}

.full {
    display: none;
}

.shownews:not(:checked)~.full {
    display: none !important;
}

.shownews:checked~.cutted>label {
    display: none !important;
}

.shownews:checked~.full {
    display: block;
}
