/*
 * Style tweaks
 * --------------------------------------------------
 */

html,
body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
}

#page {
    z-index: 0;
}


/*
 * Styled Link
 */

.link-underline a {
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    border-bottom: 3px solid #800000;
    box-shadow: inset 0 -4px 0 #800000;
    color: inherit;
    -webkit-transition: background .15s cubic-bezier(.33, .66, .66, 1);
    transition: background .15s cubic-bezier(.33, .66, .66, 1);
}

.link-underline a.active {
    background: #400000;
}

.link-underline a:hover,
.link-underline a:focus,
.link-underline a:active {
    background: #800000;
}


/*
 * Sidepanel Style Block
 */

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    background: #290000;
    color: #fff;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    text-align: right;
    top: 0;
    width: 300px;
    z-index: 1000;
}

#nav ul {
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}

#nav ul li a {
    display: block;
    padding: 0.5em 1.5em;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    outline: 0;
    border: 0;
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
}

@media (min-width: 991px) {
    #header {
        max-width: 300px;
    }
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 1;
    }
    @include media-breakpoint-only(xl) {
        column-count: 2;
    }
}


/*
 * VK Style Block
 */

#vk-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vk-header * {
    margin: 10px auto;
}

#vk-header img {
    max-height: 100px;
    max-width: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.btn-vk {
    color: #fff;
    background-color: #4c6fa2;
    border-color: #4c6fa2;
}


/*
 * Mian Style Block
 */

#main {
    width: calc(100%-300px);
    margin-left: 300px;
    z-index: 100;
}

#main* {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 110;
}

#main .top {
    z-index: 120;
	background: url(img/background.svg) center center no-repeat;
    background-size: cover;
}

#main .top .container {
    padding: 4em 0;
    z-index: 130;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

#news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    ;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 150;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media(max-width: 768px) {
    #news {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
}

#news section {
    max-width: 50%;
}

#news * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#headerToggle {
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: none;
    height: 2.25em;
    left: 0;
    position: fixed;
    top: 0;
    width: 3.25em;
    z-index: 10001;
}

#headerToggle .toggle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
}

#headerToggle .toggle:before {
    font-family: FontAwesome;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f0c9';
    color: #fff;
    font-size: 18px;
    line-height: 2.25em;
    background: rgba(128, 136, 144, 0.5);
    border-radius: 0.35em;
    text-align: center;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    display: block;
    width: 3.25em;
    height: 2.25em;
    line-height: 2.25em;
}

@media(max-width: 768px) {
    #header {
        left: calc(3.25em - 100vw);
        width: calc(100vw - 3.25em);
    }
    .active #header {
        left: 0;
        width: calc(100vw - 3.25em);
    }
    #headerToggle {
        display: block;
    }
    #main {
        margin: auto;
        width: 100%;
    }
}
