.m-btn {
    border: none;
    background-color: #eee;
    outline: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.m-btn:hover {
  background-color: #ccc;
}
.card {
    position: relative;
    background: #fff;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: block;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    border-image: linear-gradient(to right, rgba(0,0,0,0) 25%, #ccc 25%, #ccc 75%, rgba(0,0,0,0) 75%);
    border-image-slice: 1;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -o-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -moz-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.card:last-of-type {
    border-image: none;
}
@media (max-width: 860px) {
    .card {
        padding: .5rem;
    }
}
.card:hover {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-img {
    max-width: 100%;
    width: 100%;
    border-bottom: #ccc solid 1px;
    padding-bottom: 1rem;
}