.service_card {
    width: calc(50% - 3rem);
    border: dashed 1.6px red;
    margin: .25rem;
    display: inline-block;
}

@media (max-width: 860px) {
    .service_card {
        width: calc(50% - 2rem);
    }
}
