{% extends 'core/base.html' %}

{% block head_extras %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.6.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>

<link href="https://surveyjs.azureedge.net/0.12.21/surveyeditor.css" type="text/css" rel="stylesheet" />
<script src="https://surveyjs.azureedge.net/0.12.21/survey.ko.min.js"></script>
<script src="https://surveyjs.azureedge.net/0.12.21/surveyeditor.min.js"></script>

<script type='text/javascript'>

window.onload = function() {
    var editorOptions = {
        showEmbededSurveyTab: true,
        // Important! Never remove!
        generateValidJSON: true,
    };
    SurveyEditor.editorLocalization.currentLocale = 'ru';
    var editor = new SurveyEditor.SurveyEditor("surveyEditorContainer", editorOptions);
    {% if created %}
        editor.text = '{{ survey.structure | escapejs }}';
    {% endif %}
    function saveSurvey(){
        //console.log(editor.text);
        //send updated json in your storage  
        var form = document.getElementById('form_create');
        form['structure'].value = editor.text;
        form.submit();
    }

    //set function on save callback
    editor.saveSurveyFunc = saveSurvey;
}

</script>
{% endblock %}

{% block content %}
    {% if created %}
        <section class='card'>
            <a href='{{ survey.get_absolute_url }}'>detail</a>
        </section>
    {% endif %}
    <section class='card'>
        <form method='post' id='form_create' style='display: block;'>
            {% csrf_token %}
            {{ form.as_p }}
            <div id="surveyEditorContainer"></div>
        </form>
    </section>
{% endblock %}
