{% extends 'core/base.html' %}

{% block content %}
    <section class='card'>
        <a href='/surveys/create'>Создать опрос</a>
    </section>
    {% for survey in survey_list %}
        <section class='card'>
            <h2><a href='{{ survey.get_absolute_url }}'>{{ survey.title }} {% if not survey.is_started %} (черновик){% elif survey.is_finished %} (завершено){% endif %}</a></h2>
            <p class='card-maintext'>
                {{ survey.description }}
            </p>
            <p class='card-text'><small class='text-muted'>Started {{ survey.started }}</small></p>
        </section>
    {% endfor %}
{% endblock %}
