{% extends 'core/base.html' %}

{% block content %}
    <section class='card'>
        <a href='{{ survey.get_edit_url }}'>Edit this</a>
    </section>
    <section class='card'>
        <p class='card-maintext'>
            <h2><a href='{{ survey.get_absolute_url }}'>{{ survey.title }} {% if not survey.is_started %} (черновик){% elif survey.is_finished %} (завершено){% endif %}</a></h2>
            <p>{{ survey.description }}</p>
            <p>{{ survey.structure }}</p>
        </p>
        <p class='card-text'><small class='text-muted'>Started {{ survey.started }}</small></p>
    </section>
{% endblock %}
