{% extends 'сore/base.html' %}
{% load utils_extra_filters %}
{% block content %}
<section class='card'>
    <h2 class='lightgray'>Доступные сервисы:</h2>
    <a href='washing.html'>
        <div class='card service_card'>
            <img class='card-img' src='../../static/img/washmach.svg' />
            <p>Стиралка</p>
        </div>
    </a>
    <a href='survey_list.html'>
        <div class='card service_card'>
            <img class='card-img' src='../../static/img/survey.svg' />
            <p>Опросы</p>
        </div>
    </a>
</section>
{% endblock %}
