{% extends 'сore/base.html' %}
{% load utils_extra_filters %}
{% block content %}
<section class='card'>
    <h2 class='lightgrey'>Заказ стиральной машины</h2>
    <div>
        <p>
            <b>Что&nbsp;значат&nbsp;цвета?</b>
        </p>
        <p class='card-maintext'>
            <span class='preview'></span> - Этот интервал можно выбирать<br />
            <span class='preview ended'></span> - Этот интервал уже нельзя выбирать<br />
            <span class='preview selected'></span> - Этот интервал был кем-то выбран<br />
            <span class='preview choisen'></span> - Этот интервал был выбран вами<br />
            <span class='preview started'></span> - Этот интервал можно выбирать, но он уже идет и прошло меньше половины(?)
        </p>
        <p><b>Чтоб выбрать или отменить выбор интервала нажми на него</b></p>
    </div>
</section>
<section class='card hidden'>
    <h2 class='lightgrey'>Пополнить счет</h2>
    <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9E%D0%BF%D0%BB%D0%B0%D1%82%D0%B0%20%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9%20%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D1%8B%20%D0%B2%20%D0%BE%D0%B1%D1%89%D0%B5%D0%B6%D0%B8%D1%82%D0%B8%D0%B8%20%E2%84%96%201&targets-hint=&default-sum=100&button-text=11&payment-type-choice=on&mobile-payment-type-choice=on&fio=on&hint=&successURL=https%3A%2F%2Ffrtk.mipt.ru%2Fservices%2Fwashing%2F&quickpay=shop&account=410012497029013" width="450" height="230" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
</section>
<section class='card'>
    <h2 class='lightgrey'>Объявления</h2>
    <div>
        <div class='card-maintext'>
            <ul>
                <li>Обнаружен радужный носок с понями 2 числа на полу в 19:37 за пропажей к охране(или ответственным за стиралку)</li>
                <li>Временно недоступна 5 стиралка, к 5 числу отремонтируют</li>
            </ul>
        </div>
    </div>
</section>
<section class='card'>
    <input id='show_rules' type='checkbox' hidden class='shownews' />
    <div class='cutted'><h2 class='lightgrey'>Правила пользования стиральными машинами</h2><label class='link-underline' for='show_rules'><a class='lightred'>&nbsp;Ознакомиться&nbsp;</a></label></div>
    <div class='full'>
        <p class='card-maintext'>
            <ol>
                <li>Студентам, пользующимся стиралкой (стиральной машиной), запрещается:
                    <ul>
                        <li>использовать стиральную машинку, на которую не были записаны;</li>
                        <li>оставлять неубранным рассыпанный стиральный порошок;</li>
                        <li>оставлять пустые коробки, пакеты из-под порошка и т.д.;</li>
                        <li>использовать при стирке вещества, не предназначенные для автоматических стиральных машин;</li>
                        <li>оставлять дверь стиралки открытой.</li>
                    </ul>
                </li>
                <li>Студенты, пользующиеся стиралкой, обязаны соблюдать правила эксплуатации машинками:
                    <ul>
                        <li>Не загружать в машинку более 6 кг. белья</li>
                        <li>Использовать стиральную машинку только с тем номером, на которую были записаны</li>
                        <li>Не открывать дверцы до разблокировки</li>
                        <li>Избегать попадания мелких деталей (монеты, ключи и т.д.) в барабан машинки</li>
                        <li>Стирать бюстгалтеры и вещи с мелкими твердыми предметами в специальных мешках для стирки</li>
                        <li>Не оставлять белье в машинке после стирки</li>
                        <li>Не смешивать белые и цветные вещи</li>
                        <li>Оставлять после стирки дверцу машинки открытой</li>
                        <li>Забрать высохшие вещи из стиралки в течение суток после окончания своей записи (в этом случае для получения доступа в стиралку следует обратиться к ответственному)</li>
                        <li>Оперативно информировать ответственного о выявленных неисправностях машинки</li>
                    </ul>
                </li>
            </ol>
        </p>
    <label class='link-underline' for='show_rules'><a class='lightred'>&nbsp;Скрыть&nbsp;</a></label></div>
</section>
<form action='' method='post' id='washing'>
    {% csrf_token %}
    <div class='card'>
        <input id='show_day{{id}}' type='checkbox' hidden class='shownews' />
        <div class='cutted'><h2>Среда 04.10</h2><label class='link-underline' for='show_day{{id}}'><a class='lightred'>&nbsp;Открыть&nbsp;</a></label></div>
        <div class='full'>
            <table class='table_aside'>
                <tr>
                    <th>Время</th>
                </tr>
                <tr>
                    <td>9:00</td>
                </tr>
                <tr>
                    <td>9:00</td>
                </tr>
                <tr>
                    <td>9:30</td>
                </tr>
                <tr>
                    <td>10:00</td>
                </tr>
                <tr>
                    <td>10:30</td>
                </tr>
            </table>
            <table class='table_main'>
                <tr>
                    <td colspan=6>
                        <table>
                            <tr>
                                <th>Машина №1<br /><small>(10 руб.)</small></th>
                                <th>Машина №2<br /><small>(10 руб.)</small></th>
                                <th>Машина №3<br /><small>(10 руб.)</small></th>
                                <th>Машина №4<br /><small>(10 руб.)</small></th>
                                <th>Машина №5<br /><small>(10 руб.)</small></th>
                                <th>Длинноназваннннннннннннннннннная машинка №6<br /><small>(10 руб.)</small></th>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td class='ended'></td>
                            </tr>
                            <tr>
                                <td class='started selected'>
                                    <label for='modal_userinfo_check' onclick='showuserinfo("Иванов Иван Иванович", "39333502", "+79777777777", "email@example.com");' title='Посмотреть инфо о заказавшем(-ей)'></label>
                                </td>
                            </tr>
                            <tr>
                                <td class='choisen'></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span><div>V</div></span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td class='ended'></td>
                            </tr>
                            <tr>
                                <td class='started'>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span><div>V</div></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span><div>V</div></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span><div>V</div></span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td class='ended'></td>
                            </tr>
                            <tr>
                                <td class='started'>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span><div>V</div></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan='2'>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span><div>V</div></span>
                                    </label>
                                </td>
                            </tr>
                            <tr></tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td class='ended'></td>
                            </tr>
                            <tr>
                                <td class='started'>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span><div>V</div></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span><div>V</div></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span><div>V</div></span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td class='ended'></td>
                            </tr>
                            <tr>
                                <td class='started'>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span><div>V</div></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span><div>V</div></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span><div>V</div></span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td class='ended'></td>
                            </tr>
                            <tr>
                                <td class='started'>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span><div>V</div></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span><div>V</div></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span><div>V</div></span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>    
            <br /><br /><label class='link-underline' for='show_day{{id}}'><a class='lightred'>&nbsp;Скрыть&nbsp;</a></label>
        </div>
    </div>
    <div class='card hidden' id='preresult'>
        <p id='pretext'></p>
    </div>
    <div class='card' id='finalresult'>
        <p id='finaltext'>
            Вы ничего не выбрали
        </p>
        <p>
            <input id='show_agree' type='checkbox' class='shownews' />
            <label for='show_agree'>Я прочитал(-а) и обязуюсь выполнять правила пользования стиралкой</label>
        </p>
        <input id='finalcancel' type='button' value='Сбросить' />
        <input id='finalsubmit' class='full' type='submit' value='Подтверждаю' />
    </div>
</form>
{% endblock %}
{% block body_extras %}
<script>
    window.addEventListener('load', function() {
        var preview = document.querySelector('#pretext'),
            finalview = document.querySelector('#finaltext'),
            currentprice = 0,
            price = 0,
            addwash = 0,
            removewash = 0,
            inputs = document.querySelector('#washing').querySelectorAll('input[type=checkbox].hidden'),
            wash_inputs = document.querySelector('#washing').querySelectorAll('input.shownews'),
            tables_aside = document.querySelectorAll('.table_aside'),
            tables_main = document.querySelectorAll('.table_main');

        for (var val = 0; val < wash_inputs.length-1; val++) {
            wash_inputs[val].val = val;
            wash_inputs[val].addEventListener('change', function(){
                var val = this.val;
                console.log(tables_main[val].querySelector('th').getBoundingClientRect());
                tables_aside[val].querySelector('th').style.height = tables_main[val].querySelector('th').getBoundingClientRect().height + 'px';
            });
        }
        for (var item of inputs) {
            item.addEventListener('change', function() {
                price = parseInt(this.getAttribute('data-price'), 10);
                if (this.checked) {
                    if (price > 0) {
                        addwash++;
                    } else {
                        removewash++;
                    }
                    currentprice += price;
                } else {
                    if (price > 0) {
                        addwash--;
                    } else {
                        removewash--;
                    }
                    currentprice -= price;
                }
                if (addwash > 0) {
                    preview.innerHTML = ((addwash > 0) ? ('Заказано: ' + addwash) : '') + ' Итого: ' + currentprice + 'руб. <a href="#finaltext">К оплате</a>';
                    document.querySelector('#preresult').classList.remove('hidden');
                    finalview.innerHTML = 'Выбрано интервалов: ' + addwash + '<br />Итого ' + ((currentprice >= 0) ? ('нужно оплатить: ' + currentprice) : ('вам вернут: ' + (-currentprice))) + ' руб.';
                } else {
                    finalview.innerHTML = 'Вы ничего не выбрали';
                    document.querySelector('#preresult').classList.add('hidden');
                }
            });
        }
        document.querySelector('#finalcancel').addEventListener('click', function() {
            addwash = 0;
            removewash = 0;
            currentprice = 0;
            for (var item of inputs) {
                item.checked = false;
            };
            finalview.innerHTML = 'Вы ничего не выбрали';
            document.querySelector('#preresult').classList.add('hidden');
        });
    });

    function showuserinfo(name, vkid, number, email) {
        var username = document.querySelector('#userinfo_name'),
            uservkid = document.querySelector('#userinfo_vkid'),
            usernumber = document.querySelector('#userinfo_number'),
            useremail = document.querySelector('#userinfo_email');
        usernumber.classList.add('hidden');
        uservkid.classList.add('hidden');
        useremail.classList.add('hidden');
        username.innerText = name;
        if (number !== null) {
            usernumber.innerText = 'Позвонить: ' + number;
            usernumber.href = 'tel:' + number;
            usernumber.classList.remove('hidden');
        }
        if (vkid !== null) {
            uservkid.innerText = 'Написать в ВК vk.com/' + vkid;
            uservkid.href = 'https://vk.me/id' + vkid;
            uservkid.classList.remove('hidden');
        }
        if (email !== null) {
            useremail.innerText = 'Написать: ' + email;
            useremail.href = 'mailto:' + email;
            useremail.classList.remove('hidden');
        }
    };

</script>
{% endblock %}
