{% extends 'сore/base.html' %}
{% load utils_extra_filters %}
{% block content %}
<section class='card'>
    <h2 class='lightblue'>Заказ стиральной машины</h2>
    <div>
        <p>
            <b>Что&nbsp;значат&nbsp;цвета?</b>
        </p>
        <p class='card-maintext'>
            <span class='preview'></span> - Этот интервал можно выбирать<br />
            <span class='preview ended'></span> - Этот интервал уже нельзя выбирать<br />
            <span class='preview selected'></span> - Этот интервал был кем-то выбран<br />
            <span class='preview choisen'></span> - Этот интервал был выбран вами<br />
            <span class='preview started'></span> - Этот интервал можно выбирать, но он уже идет и прошло меньше половины(?)
        </p>
        <p><b>Чтоб выбрать или отменить выбор интервала нажми на него</b></p>
    </div>
</section>
<form action='' method='post' id='washing'>
    {% csrf_token %}
    <div class='card'>
        <h2>Понедельник 04.09</h2>
        <div>
            <table class='table_aside'>
                <tr>
                    <th>Время</th>
                </tr>
                <tr>
                    <td>9:00</td>
                </tr>
                <tr>
                    <td>9:00</td>
                </tr>
                <tr>
                    <td>9:30</td>
                </tr>
                <tr>
                    <td>10:00</td>
                </tr>
            </table>
            <table class='table_main'>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <th>Машина №1<br /><small>(10 руб.)</small></th>
                            </tr>
                            <tr>
                                <td class='ended'></td>
                            </tr>
                            <tr>
                                <td class='started selected'>
                                    <label for='modal_userinfo_check' onclick='showuserinfo("Иванов Иван Иванович", "39333502", "+79777777777", "email@example.com");' title='Посмотреть инфо о заказавшем(-ей)'></label>
                                </td>
                            </tr>
                            <tr>
                                <td class='choisen'></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span>V</span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <th>Машина №2<br /><small>(10 руб.)</small></th>
                            </tr>
                            <tr>
                                <td class='ended'></td>
                            </tr>
                            <tr>
                                <td class='started'>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span>V</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span>V</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span>V</span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <th>Машина №3<br /><small>(10 руб.)</small></th>
                            </tr>
                            <tr>
                                <td class='ended'></td>
                            </tr>
                            <tr>
                                <td class='started'>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span>V</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan='2'>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span>V</span>
                                    </label>
                                </td>
                            </tr>
                            <tr></tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <th>Машина №4<br /><small>(10 руб.)</small></th>
                            </tr>
                            <tr>
                                <td class='ended'></td>
                            </tr>
                            <tr>
                                <td class='started'>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span>V</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span>V</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span>V</span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <th>Машина №5<br /><small>(10 руб.)</small></th>
                            </tr>
                            <tr>
                                <td class='ended'></td>
                            </tr>
                            <tr>
                                <td class='started'>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span>V</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span>V</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span>V</span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <th>Машина №6<br /><small>(10 руб.)</small></th>
                            </tr>
                            <tr>
                                <td class='ended'></td>
                            </tr>
                            <tr>
                                <td class='started'>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span>V</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span>V</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input type='checkbox' data-price='10' class='hidden' />
                                        <span>V</span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class='card'>
        <h2>Вторник 05.09</h2>
        <table class='table_aside'>
            <tr>
                <th>Время</th>
            </tr>
            <tr>
                <td>9:00</td>
            </tr>
            <tr>
                <td>9:00</td>
            </tr>
            <tr>
                <td>9:30</td>
            </tr>
            <tr>
                <td>10:00</td>
            </tr>
        </table>
        <table class='table_main'>
            <tr>
                <td>
                    <table>
                        <tr>
                            <th>Машина №1<br /><small>(10 руб.)</small></th>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class='selected'>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <th>Машина №2<br /><small>(10 руб.)</small></th>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <th>Машина №3<br /><small>(10 руб.)</small></th>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                    </label>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <th>Машина №4<br /><small>(10 руб.)</small></th>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                    </label>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <th>Машина №5<br /><small>(10 руб.)</small></th>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                    </label>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <th>Машина №6<br /><small>(10 руб.)</small></th>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    <input type='checkbox' data-price='10' class='hidden' />
                                    <span>V</span>
                                </label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class='card hidden' id='preresult'>
        <p id='pretext'></p>
    </div>
    <div class='card' id='finalresult'>
        <p id='finaltext'>
            Вы ничего не выбрали
        </p>
        <input id='finalcancel' type='button' value='Сбросить' />
        <input id='finalsubmit' type='submit' value='Подтверждаю' />
    </div>
</form>
{% endblock %}
{% block body_extras %}
<script>
    window.addEventListener('load', function() {
        var preview = document.querySelector('#pretext'),
            finalview = document.querySelector('#finaltext'),
            currentprice = 0,
            price = 0,
            addwash = 0,
            removewash = 0,
            inputs = document.querySelector('#washing').querySelectorAll('input[type=checkbox]');

        for (var item of inputs) {
            item.addEventListener('change', function() {
                price = parseInt(this.getAttribute('data-price'), 10);
                if (this.checked) {
                    if (price > 0) {
                        addwash++;
                    } else {
                        removewash++;
                    }
                    currentprice += price;
                } else {
                    if (price > 0) {
                        addwash--;
                    } else {
                        removewash--;
                    }
                    currentprice -= price;
                }
                if (addwash > 0) {
                    preview.innerHTML = ((addwash > 0) ? ('Заказано: ' + addwash) : '') + ' Итого: ' + currentprice + 'руб. <a href="#finaltext">К оплате</a>';
                    document.querySelector('#preresult').classList.remove('hidden');
                    finalview.innerHTML = 'Выбрано интервалов: ' + addwash + '<br />Итого ' + ((currentprice >= 0) ? ('нужно оплатить: ' + currentprice) : ('вам вернут: ' + (-currentprice))) + ' руб.';
                } else {
                    finalview.innerHTML = 'Вы ничего не выбрали';
                    document.querySelector('#preresult').classList.add('hidden');
                }
            });
        }
        document.querySelector('#finalcancel').addEventListener('click', function() {
            addwash = 0;
            removewash = 0;
            currentprice = 0;
            for (var item of inputs) {
                item.checked = false;
            };
            finalview.innerHTML = 'Вы ничего не выбрали';
            document.querySelector('#preresult').classList.add('hidden');
        });
    });

    function showuserinfo(name, vkid, number, email) {
        var username = document.querySelector('#userinfo_name'),
            uservkid = document.querySelector('#userinfo_vkid'),
            usernumber = document.querySelector('#userinfo_number'),
            useremail = document.querySelector('#userinfo_email');
        usernumber.classList.add('hidden');
        uservkid.classList.add('hidden');
        useremail.classList.add('hidden');
        username.innerText = name;
        if (number !== null) {
            usernumber.innerText = 'Позвонить: ' + number;
            usernumber.href = 'tel:' + number;
            usernumber.classList.remove('hidden');
        }
        if (vkid !== null) {
            uservkid.href = 'https://vk.me/id' + vkid;
            uservkid.classList.remove('hidden');
        }
        if (email !== null) {
            useremail.innerText = 'Написать: ' + email;
            useremail.href = 'mailto:' + email;
            useremail.classList.remove('hidden');
        }
    };

</script>
{% endblock %}
