{% extends 'core/base.html' %}
{% load utils_extra_filters %} <!-- THIS PAGE NOT WORKS, IN PROCESS -->
{% block content %}
<section class='card'>
    <h2 class='lightgrey'>{{ service.name }}</h2>
    {% if service.responsible_user %}
    <div>
        Ответственный: <label style='text-decoration:underline;' for='modal_userinfo_check' onclick='showuserinfo("{{ service.responsible_user.get_full_name }}", "{{ service.responsible_user.account_id }}", "{{ service.responsible_user.phone_number }}", "{{ service.responsible_user.email }}");'>{{ service.responsible_user.get_full_name }}</label>
        {% if service.request_document %}
            <br><a href={{ service.request_document.url }}>Образец служебки</a>
        {% endif %}
    </div>
    {% endif %}
    <div>
        <p><b>Чтоб выбрать или отменить выбор интервала нажми на него</b></p>
    </div>
</section>
<!--<section class='card'>
    <h2 class='lightgray'>Объявления</h2>
    <div>
        <div class='card-maintext'>
            <ul>
                <li>Обнаружен радужный носок с понями 2 числа на полу в 19:37 в КДС за пропажей к охране(или ответственным за стиралку)</li>
                <li>Временно недоступна КДС, к 5 числу переклеят обои</li>
            </ul>
        </div>
    </div>
</section>-->
<form action='' method='post' id='service'>
    {% csrf_token %}
    {% with time_list=service.get_timetable_list %}
    {% with item_info=service.get_item_info %}
        {% for day in time_list|util_add_user_info:user %}
            <div class='card'>
                <h2>{{ day.day }}</h2>
                <div>
                    <table>
                        {% for t in day.time_layout %}
                        {% with i=forloop.counter0 %}
                        {% with item_dict=day|util_by_key:'items' %}
                        {% with item=item_dict.values|util_to_list|first %}
                        {% with cell=item.time|util_by_index:i %}
                        {% if not cell.closed %}
                        <tr>
                            <th class='time'>{{ t.time_start }}</th>
                            {% if cell.user %}
                            <td>
                                <!-- TODO: <h2/> for title, <span class='celltext'/> for description-->
                                <span class='celltext'>{% if cell.title %}{{ cell.title }}{% else %}Заказал {{ cell.user.get_full_name }}{% endif %}</span>
                            </td>
                            <td>
                                <label>
                                    <input type='checkbox' class='servselector hidden' name='0410-0900' data-price='1' />
                                    <a class='m-btn m-mobiletiny servoff'>Принять участие</a>
                                    <a class='m-btn m-mobiletiny m-selected servon'>Участие заявлено (отменить?)</a>
                                </label>
                            </td>
                            {% else %}
                            <td>
                                <span class='celltext'>Время свободно</span>
                            </td>
                            <td>
                                <label>
                                    <input type='checkbox' class='servselector hidden' name='order={{ service.items.first }}&&{{ cell.time_start }}&&{{ cell.time_end }}&&{{ day.dateyear }}' data-price='{{ service.default_price }}' data-timestep='{{ service.time_step }}' data-timestart='{{ cell.time_start }}' data-timeend='{{ cell.time_end }}' data-dateyear='{{ day.dateyear }}' />
                                    <a class='m-btn m-mobiletiny servoff'>Зарезервировать</a>
                                    <a class='m-btn m-mobiletiny m-selected servon'>Выбрано</a>
                                </label>
                            </td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
    {% endwith %}
    {% endwith %}
    <div class='card hidden' id='preresult'>
        <p id='pretext'></p>
    </div>
    <div class='card' id='finalresult'>
        <p id='finaltext'>
            Вы ничего не выбрали
        </p>
    <textarea name='title' placeholder='Пояснить причину заказа(если вы просто участвуете в мероприятии, оставьте пустым)' style='width: 100%;'></textarea><br />
        <input id='finalcancel' type='button' value='Сбросить' />
        <input id='finalsubmit' type='submit' value='Подтверждаю' />
    </div>
</form>
{% endblock %}
{% block body_extras %}
<script>
    window.addEventListener('load', function() {
        var preview = document.querySelector('#pretext'),
            finalview = document.querySelector('#finaltext'),
            currentprice = 0,
            price = 0,
            addwash = 0,
            removewash = 0,
            inputs = document.querySelector('#service').querySelectorAll('input[type=checkbox]');

        for (var item of inputs) {
            item.addEventListener('change', function() {
                price = parseInt(this.getAttribute('data-price'), 10);
                if (this.checked) {
                    if (price > 0) {
                        addwash++;
                    } else {
                        removewash++;
                    }
                    currentprice += price;
                } else {
                    if (price > 0) {
                        addwash--;
                    } else {
                        removewash--;
                    }
                    currentprice -= price;
                }
                if (addwash > 0) {
                    preview.innerHTML = ((addwash > 0) ? ('Выбрано: ' + addwash) : '') + ' <a href="#finaltext">К подтверждению</a>';
                    document.querySelector('#preresult').classList.remove('hidden');
                    finalview.innerHTML = 'Выбрано интервалов: ' + addwash;
                } else {
                    finalview.innerHTML = 'Вы ничего не выбрали';
                    document.querySelector('#preresult').classList.add('hidden');
                }
            });
        }
        document.querySelector('#finalcancel').addEventListener('click', function() {
            addwash = 0;
            removewash = 0;
            currentprice = 0;
            for (var item of inputs) {
                item.checked = false;
            };
            finalview.innerHTML = 'Вы ничего не выбрали';
            document.querySelector('#preresult').classList.add('hidden');
        });
    });

    function showuserinfo(name, vkid, number, email) {
        var username = document.querySelector('#userinfo_name'),
            uservkid = document.querySelector('#userinfo_vkid'),
            usernumber = document.querySelector('#userinfo_number'),
            useremail = document.querySelector('#userinfo_email');
        usernumber.classList.add('hidden');
        uservkid.classList.add('hidden');
        useremail.classList.add('hidden');
        username.innerText = name;
        if (number !== null) {
            usernumber.innerText = 'Позвонить: ' + number;
            usernumber.href = 'tel:' + number;
            usernumber.classList.remove('hidden');
        }
        if (vkid !== null) {
            uservkid.href = 'https://vk.me/id' + vkid;
            uservkid.classList.remove('hidden');
        }
        if (email !== null) {
            useremail.innerText = 'Написать: ' + email;
            useremail.href = 'mailto:' + email;
            useremail.classList.remove('hidden');
        }
    };

</script>
{% endblock %}
