{% extends 'core/base.html' %}
{% load utils_extra_filters %}
{% block content %}
<section class='card'>
    <h2 class='lightblue'>Заказ стиральной машины</h2>
    <div>
        <p>
            <b>Что&nbsp;значат&nbsp;цвета?</b>
        </p>
        <p class='card-maintext'>
            <span class='preview'></span> - Этот интервал можно выбирать<br />
            <span class='preview ended'></span> - Этот интервал уже нельзя выбирать<br />
            <span class='preview selected'></span> - Этот интервал был кем-то выбран<br />
            <span class='preview choisen'></span> - Этот интервал был выбран вами<br />
            <span class='preview started'></span> - Этот интервал можно выбирать, но он уже идет и прошло меньше половины(?)
        </p>
        <p><b>Чтоб выбрать или отменить выбор интервала нажми на него</b></p>
    </div>
</section>
<section class='card'>
    <h2 class='lightblue'>Объявления</h2>
    <div>
        <p class='card-maintext'>
            <ul>
                <li>Обнаружен радужный носок с понями 2 числа на полу в 19:37 за пропажей к охране(или ответственным за стиралку)</li>
                <li>Временно недоступна 5 стиралка, к 5 числу отремонтируют</li>
            </ul>
        </p>
    </div>
</section>
<section class='card'>
    <h2 class='lightblue'>Правила пользования стиральными машинами</h2>
    <div>
        <p class='card-maintext'>
            <ol>
                <li>Студентам, пользующимся стиралкой (стиральной машиной), запрещается:
                    <ul>
                        <li>использовать стиральную машинку, на которую не были записаны;</li>
                        <li>оставлять неубранным рассыпанный стиральный порошок;</li>
                        <li>оставлять пустые коробки, пакеты из-под порошка и т.д.;</li>
                        <li>использовать при стирке вещества, не предназначенные для автоматических стиральных машин;</li>
                        <li>оставлять дверь стиралки открытой.</li>
                    </ul>
                </li>
                <li>Студенты, пользующиеся стиралкой, обязаны соблюдать правила эксплуатации машинками:
                    <ul>
                        <li>Не загружать в машинку более 6 кг. белья</li>
                        <li>Использовать стиральную машинку только с тем номером, на которую были записаны</li>
                        <li>Не открывать дверцы до разблокировки</li>
                        <li>Избегать попадания мелких деталей (монеты, ключи и т.д.) в барабан машинки</li>
                        <li>Стирать бюстгалтеры и вещи с мелкими твердыми предметами в специальных мешках для стирки</li>
                        <li>Не оставлять белье в машинке после стирки</li>
                        <li>Не смешивать белые и цветные вещи</li>
                        <li>Оставлять после стирки дверцу машинки открытой</li>
                        <li>Забрать высохшие вещи из стиралки в течение суток после окончания своей записи (в этом случае для получения доступа в стиралку следует обратиться к ответственному)</li>
                        <li>Оперативно информировать ответственного о выявленных неисправностях машинки</li>
                    </ul>
                </li>
            </ol>
        </p>
    </div>
</section>
<form action='' method='post' id='washing'>
    {% csrf_token %}
        {% with time_list=service.get_timetable_list %}
        {% with item_info=service.get_item_info %}
            {% for day in time_list|util_add_user_info:user %}
                <div class='card'>
                    <h2>{{ day.day }}</h2>
                    <div>
                        <table class='table_aside'>
                            <tr>
                                <th>Время</th>
                            </tr>
                            {% for t in day.time_layout %}
                                <tr>
                                    <td>{{ t.time_start }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <table class='table_main'>
                            <tr>
<!-- break trailing spaces for nicer appeal -->
{% for machine,m_value in day.items.items %}
    <td>
        <!-- print machine -->
        <table>
            <tr>
                <th>{{ machine }}<br /><small>({{ item_info.price|util_by_key:machine }} руб.)</small></th>
            </tr>
        <!-- print cells -->
        {% for cell in m_value.time %}
            <tr>
                <!-- users: display next/previous from selected even if closed -->
                {% if cell.user%}
                <td class={% if cell.user == user %}'choisen'{% elif not cell.closed or cell.show_info %}'selected'{% elif cell.closed %}'ended'{% endif %} {% if not cell.closed %}rowspan='{{ m_value.rowspan }}'{% endif %}>
                        {% if cell.show_info %}
                                <label class='userinfo' for='modal_userinfo_check' onclick='showuserinfo("{{ cell.user.get_full_name }}", "{{ cell.user.account_id }}", "{{ cell.user.phone_number }}", "{{ cell.user.email }}");' title='Посмотреть инфо о заказавшем(-ей)'></label>
                        {% endif %}
                    </td>
                <!-- if not done yet -->
                {% elif cell.closed %}
                    <td class='ended'></td>
                <!-- can be selected -->
                {% elif forloop.parentloop.parentloop.first and cell.time_start|util_is_started:service == 'ended' %}
                    <td class='ended' rowspan='{{ m_value.rowspan }}'></td>
                {% else %}
                <td rowspan='{{ m_value.rowspan }}' {% if forloop.parentloop.parentloop.first and cell.time_start|util_is_started:service  == 'started' %}{# Uncomment to enable STARTED color: #}{#class='started'#}{% endif %}>
                        <label>
                            <input type='checkbox' name='{{ machine }}&&{{ cell.time_start }}&&{{ cell.time_end }}' data-price='{{ item_info.price|util_by_key:machine }}' class='hidden'/>
                            <span><div>V</div></span>
                        </label>
                    </td>
                {% endif %}
            </tr>
                {% if not cell.closed %}
                    {% with current_range=m_value.rowspan|util_range %}
                        {% for i in current_range %}
                            {% if not forloop.last %}
                                <tr></tr>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </table>
    </td>
{% endfor %}
<!-- break end -->
                            </tr>
                        </table>
                    </div>
                </div>
            {% endfor %}
        {% endwith %}
        {% endwith %}
    <div class='card hidden' id='preresult'>
        <p id='pretext'></p>
    </div>
    <div class='card' id='finalresult'>
        <p id='finaltext'>
            Вы ничего не выбрали
        </p>
        <input id='finalcancel' type='button' value='Сбросить' />
        <input id='finalsubmit' type='submit' value='Подтверждаю' />
    </div>
</form>
{% endblock %}
{% block body_extras %}
<script>
    window.addEventListener('load', function() {
        var preview = document.querySelector('#pretext'),
            finalview = document.querySelector('#finaltext'),
            currentprice = 0,
            price = 0,
            addwash = 0,
            removewash = 0,
            inputs = document.querySelector('#washing').querySelectorAll('input[type=checkbox]');

        for (var item of inputs) {
            item.addEventListener('change', function() {
                price = parseInt(this.getAttribute('data-price'), 10);
                if (this.checked) {
                    if (price > 0) {
                        addwash++;
                    } else {
                        removewash++;
                    }
                    currentprice += price;
                } else {
                    if (price > 0) {
                        addwash--;
                    } else {
                        removewash--;
                    }
                    currentprice -= price;
                }
                if (addwash > 0) {
                    preview.innerHTML = ((addwash > 0) ? ('Заказано: ' + addwash) : '') + ' Итого: ' + currentprice + 'руб. <a href="#finaltext">К оплате</a>';
                    document.querySelector('#preresult').classList.remove('hidden');
                    finalview.innerHTML = 'Выбрано интервалов: ' + addwash + '<br />Итого ' + ((currentprice >= 0) ? ('нужно оплатить: ' + currentprice) : ('вам вернут: ' + (-currentprice))) + ' руб.';
                } else {
                    finalview.innerHTML = 'Вы ничего не выбрали';
                    document.querySelector('#preresult').classList.add('hidden');
                }
            });
        }
        document.querySelector('#finalcancel').addEventListener('click', function() {
            addwash = 0;
            removewash = 0;
            currentprice = 0;
            for (var item of inputs) {
                item.checked = false;
            };
            finalview.innerHTML = 'Вы ничего не выбрали';
            document.querySelector('#preresult').classList.add('hidden');
        });
    });

    function showuserinfo(name, vkid, number, email) {
        var username = document.querySelector('#userinfo_name'),
            uservkid = document.querySelector('#userinfo_vkid'),
            usernumber = document.querySelector('#userinfo_number'),
            useremail = document.querySelector('#userinfo_email');
        usernumber.classList.add('hidden');
        uservkid.classList.add('hidden');
        useremail.classList.add('hidden');
        username.innerText = name;
        if (number !== nlil) {
            usernumber.innerText = 'Позвонить: ' + number;
            usernumber.href = 'tel:' + number;
            usernumber.classList.remove('hidden');
        }
        if (vkid !== nlil) {
            uservkid.href = 'https://vk.me/id' + vkid;
            uservkid.classList.remove('hidden');
        }
        if (email !== nlil) {
            useremail.innerText = 'Написать: ' + email;
            useremail.href = 'mailto:' + email;
            useremail.classList.remove('hidden');
        }
    };

</script>
{% endblock %}
