{% extends 'core/base.html' %}
{% load utils_extra_filters %}
{% block content %}
<section class='card'>
    <h2 class='lightgray'>Заказ стиральной машины</h2>
    <div>
        <p>
            <b>Что&nbsp;значат&nbsp;цвета?</b>
        </p>
        <p class='card-maintext'>
            <span class='preview'></span> - Этот интервал можно выбирать<br />
            <span class='preview ended'></span> - Этот интервал уже нельзя выбирать<br />
            <span class='preview selected'></span> - Этот интервал был кем-то выбран<br />
            <span class='preview choisen'></span> - Этот интервал был выбран вами<br />
            <span class='preview started'></span> - Этот интервал можно выбирать, но он уже идет и прошло меньше половины(?)
        </p>
        <p><b>Чтоб выбрать или отменить выбор интервала нажми на него</b></p>
        <section class='card {#hidden#}'>
            <h2 class='lightgrey'>Пополнить счет</h2>
            <p>Ваш счёт: {{ user.account }} руб.</p>
            <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9E%D0%BF%D0%BB%D0%B0%D1%82%D0%B0%20%D1%81%D1%82%D0%B8%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9%20%D0%BA%D0%BE%D0%BC%D0%BD%D0%B0%D1%82%D1%8B%20%D0%B2%20%D0%BE%D0%B1%D1%89%D0%B5%D0%B6%D0%B8%D1%82%D0%B8%D0%B8%20%E2%84%96%201&targets-hint=&default-sum=100&button-text=11&payment-type-choice=on&mobile-payment-type-choice=on&fio=on&hint=&successURL=https%3A%2F%2Ffrtk.mipt.ru%2Fservices%2Fwashing%2F&quickpay=shop&account=410012497029013" width="450" height="230" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
        </section>

    </div>
</section>
<section class='card'>
    <h2 class='lightgray'>Объявления</h2>
    <div>
        <div class='card-maintext'>
            <ul>
                <li>Обнаружен радужный носок с понями 2 числа на полу в 19:37 за пропажей к охране(или ответственным за стиралку)</li>
                <li>Временно недоступна 5 стиралка, к 5 числу отремонтируют</li>
            </ul>
        </div>
    </div>
</section>
<section class='card'>
    <input id='show_rules' type='checkbox' hidden class='shownews' />
    <div class='cutted'><h2 class='lightgray'>Правила пользования стиральными машинами</h2><label class='link-underline' for='show_rules'><a class='lightblue'>&nbsp;Ознакомится&nbsp;</a></label></div>
    <div class='full'><div class='card-maintext'>
        {{ service.instruction.rendered }}
        </div>
    <label class='link-underline' for='show_rules'><a class='lightblue'>&nbsp;Скрыть&nbsp;</a></label></div>
</section>
<form action='' method='post' id='washing'>
    {% csrf_token %}
        {% with time_list=service.get_timetable_list %}
        {% with item_info=service.get_item_info %}
            {% for day in time_list|util_add_user_info:user %}
                <div class='card'>
                    <input id='show_day_{{ forloop.revcounter0 }}' type='checkbox' hidden class='shownews' />
                    <div class='cutted'><h2>{{ day.day }}</h2><label class='link-underline' for='show_day_{{ forloop.revcounter0 }}'><a class='lightblue'>&nbsp;Открыть&nbsp;</a></label></div>
                    <div class='full'>
                        <table class='table_aside'>
                            <tr>
                                <th>Время</th>
                            </tr>
                            {% for t in day.time_layout %}
                                <tr>
                                    <td>{{ t.time_start }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <table class='table_main'>
                            <tr>
<!-- break trailing spaces for nicer appeal -->
{% for machine,m_value in day.items.items %}
    <td>
        <!-- print machine -->
        <table>
            <tr>
                <th>{{ machine }}<br /><small>({{ item_info.price|util_by_key:machine }} руб.)</small></th>
            </tr>
        <!-- print cells -->
        {% for cell in m_value.time %}
            <tr>
                <!-- users: display next/previous from selected even if closed -->
                {% if cell.user%}
                <td class={% if cell.user == user %}'choisen'{% elif not cell.closed or cell.show_info %}'selected'{% elif cell.closed %}'ended'{% endif %} {% if not cell.closed %}rowspan='{{ m_value.rowspan }}'{% endif %}>
                        {% if cell.show_info %}
                                <label class='userinfo' for='modal_userinfo_check' onclick='showuserinfo("{{ cell.user.get_full_name }}", "{{ cell.user.account_id }}", "{{ cell.user.phone_number }}", "{{ cell.user.email }}");' title='Посмотреть инфо о заказавшем(-ей)'></label>
                        {% endif %}
                    </td>
                <!-- if not done yet -->
                {% elif cell.closed %}
                    <td class='ended'></td>
                <!-- can be selected -->
                {% elif forloop.parentloop.parentloop.first and cell.time_start|util_is_started:service == 'ended' %}
                    <td class='ended' rowspan='{{ m_value.rowspan }}'></td>
                {% else %}
                <td rowspan='{{ m_value.rowspan }}' {% if forloop.parentloop.parentloop.first and cell.time_start|util_is_started:service  == 'started' %}{# Uncomment to enable STARTED color: #}{#class='started'#}{% endif %}>
                        <label>
                            <input type='checkbox' name='{{ machine }}&&{{ cell.time_start }}&&{{ cell.time_end }}' data-price='{{ item_info.price|util_by_key:machine }}' class='hidden'/>
                            <span><div>V</div></span>
                        </label>
                    </td>
                {% endif %}
            </tr>
                {% if not cell.closed %}
                    {% with current_range=m_value.rowspan|util_range %}
                        {% for i in current_range %}
                            {% if not forloop.last %}
                                <tr></tr>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </table>
    </td>
{% endfor %}
<!-- break end -->
                            </tr>
                        </table>
                        <br /><br /><label class='link-underline' for='show_day_{{ forloop.revcounter0 }}'><a class='lightblue'>&nbsp;Скрыть&nbsp;</a></label>
                    </div>
                </div>
            {% endfor %}
        {% endwith %}
        {% endwith %}
    <div class='card hidden' id='preresult'>
        <p id='pretext'></p>
    </div>
    <div class='card' id='finalresult'>
        <p id='finaltext'>
            Вы ничего не выбрали
        </p>
        <p>
            <input id='show_agree' type='checkbox' class='shownews' required />
            <label for='show_agree'>Я прочитал(-а) и обязуюсь выполнять правила пользования стиралкой</label>
        </p>
        <input id='finalcancel' type='button' value='Сбросить' />
        <input id='finalsubmit' class='full' type='submit' value='Подтверждаю' />
    </div>
</form>
{% endblock %}
{% block body_extras %}
<script>
    window.addEventListener('load', function() {
        var preview = document.querySelector('#pretext'),
            finalview = document.querySelector('#finaltext'),
            currentprice = 0,
            price = 0,
            addwash = 0,
            removewash = 0,
            inputs = document.querySelector('#washing').querySelectorAll('input[type=checkbox].hidden');

        for (var item of inputs) {
            item.addEventListener('change', function() {
                price = parseInt(this.getAttribute('data-price'), 10);
                if (this.checked) {
                    if (price > 0) {
                        addwash++;
                    } else {
                        removewash++;
                    }
                    currentprice += price;
                } else {
                    if (price > 0) {
                        addwash--;
                    } else {
                        removewash--;
                    }
                    currentprice -= price;
                }
                if (addwash > 0) {
                    preview.innerHTML = ((addwash > 0) ? ('Заказано: ' + addwash) : '') + ' Итого: ' + currentprice + 'руб. <a href="#finaltext">К оплате</a>';
                    document.querySelector('#preresult').classList.remove('hidden');
                    finalview.innerHTML = 'Выбрано интервалов: ' + addwash + '<br />Итого ' + ((currentprice >= 0) ? ('нужно оплатить: ' + currentprice) : ('вам вернут: ' + (-currentprice))) + ' руб.';
                } else {
                    finalview.innerHTML = 'Вы ничего не выбрали';
                    document.querySelector('#preresult').classList.add('hidden');
                }
            });
        }
        document.querySelector('#finalcancel').addEventListener('click', function() {
            addwash = 0;
            removewash = 0;
            currentprice = 0;
            for (var item of inputs) {
                item.checked = false;
            };
            finalview.innerHTML = 'Вы ничего не выбрали';
            document.querySelector('#preresult').classList.add('hidden');
        });
    });

    function showuserinfo(name, vkid, number, email) {
        var username = document.querySelector('#userinfo_name'),
            uservkid = document.querySelector('#userinfo_vkid'),
            usernumber = document.querySelector('#userinfo_number'),
            useremail = document.querySelector('#userinfo_email');
        usernumber.classList.add('hidden');
        uservkid.classList.add('hidden');
        useremail.classList.add('hidden');
        username.innerText = name;
        if (number !== null) {
            usernumber.innerText = 'Позвонить: ' + number;
            usernumber.href = 'tel:' + number;
            usernumber.classList.remove('hidden');
        }
        if (vkid !== null) {
            uservkid.href = 'https://vk.me/id' + vkid;
            uservkid.classList.remove('hidden');
        }
        if (email !== null) {
            useremail.innerText = 'Написать: ' + email;
            useremail.href = 'mailto:' + email;
            useremail.classList.remove('hidden');
        }
    };

</script>
{% endblock %}
